<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/style.css') }}">
    <title>Results</title>
</head>

<body>
<div class="container">
    <h1>Analyze Tweet Sentiment</h1>
    <h4><a href="{{ url_for('profile') }}">Back to Profile</a></h4>
    <div>
        <form action="{{ url_for('search') }}">
            <label for="q">Search Again</label>
            <input type="text" name="q" id="q" placeholder="Tweet Topic">
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        <p>
            Sentiment Coding:
            <span class="list-group-item-info">
                <span class="list-group-item-success">Positive Sentiment</span>
                <span class="list-group-item-danger">Negative Sentiment</span>
                <span>Neutral Sentiment</span>
            </span>
        </p>
        {{pagination.links}}
        <ul class="list-group" id="tweets">
            {% set css_class = 'list-group-item-info' %}

            {% for element in content %}
                {% if element['label'] == 'neg' %}
                    {% set css_class = 'list-group-item-danger' %}
                {% elif element['label'] == 'pos' %}
                    {% set css_class = 'list-group-item-success' %}
                {% endif %}

                <li class="list-group-item {{ css_class }}"> {{ element['tweet'] }} </li>
            {% endfor %}
        </ul>
        {{pagination.links}}
    </div>
    <div>
      <form action="{{ url_for('search') }}">
        <label for="q">Search Again</label>
        <input type="text" name="q" id="q" placeholder="Tweet Topic">
        <button type="submit">Search</button>
      </form>
    </div>
</body>
</html>